[
    {backend,
        [
            {records_file_name_user, "/home/ubuntu/backend/Data/user_records.dets"},
            {state_file_name_user, "/home/ubuntu/backend/Data/user_state.dets"},
            {records_file_name_conversation, "/home/ubuntu/backend/Data/conversation_records.dets"},
            {state_file_name_conversation, "/home/ubuntu/backend/Data/conversation_state.dets"},
            {records_file_name_message, "/home/ubuntu/backend/Data/message_records.dets"},
            {state_file_name_message, "/home/ubuntu/backend/Data/message_state.dets"}
        ]
    }
].
